In [ ]:
import io
import os
import pandas
%pip install pandas

#In the following line we're reading our social media CSV file, using comma as the delimiter.
#The delimiter is the term for the special character that divides columns in our spreadsheet.
winterOlympics = pandas.read_csv('WinterOlympicMedals.csv', delimiter = ',')


#Let's see what kind of data we've created
type(winterOlympics)

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.8/dist-packages (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (2022.6)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

pandas.core.frame.DataFrame

In [ ]:
#prints the whole file
winterOlympics

,Year,Sport,Event,Country,Gender,Medal Rank,Medal,Name of Athlete or Team,Age of Athlete
0,1924,Bobsled,Men's Four/Five,Switzerland,Men,1,gold,Switzerland-1,NaN
1,1924,Bobsled,Men's Four/Five,Britain,Men,2,silver,Britain-1,NaN
2,1924,Bobsled,Men's Four/Five,Belgium,Men,3,bronze,Belgium-1,NaN
3,1924,Cross-Country Skiing,Men's 18 Kilometers,Norway,Men,1,gold,Thorleif Haug,29.0
4,1924,Cross-Country Skiing,Men's 18 Kilometers,Norway,Men,2,silver,Johan Grøttumsbraaten,24.0
...,...,...,...,...,...,...,...,...,...
2860,2014,Cross-Country Skiing,Men's 50 Kilometers,Russia,Men,1,gold,Alexander Legkov,30.0
2861,2014,Cross-Country Skiing,Men's 50 Kilometers,Russia,Men,2,silver,Maxim Vylegzhanin,31.0
2862,2014,Cross-Country Skiing,Men's 50 Kilometers,Russia,Men,3,bronze,Ilia Chernousov,27.0
2863,2014,Ice Hockey,Men's Ice Hockey,Canada,Men,1,gold,Canada,NaN
2864,2014,Ice Hockey,Men's Ice Hockey,Sweden,Men,2,silver,Sweden,NaN

In [ ]:
#imports some built-in functions so that the program can print and count etc
#Creates a function where it splits the paragraphs into words and changes them to lower case so they can be easily compared to
#each other. Then there is 40 most common words that are wanted

from __future__ import print_function
from collections import Counter
import re

In [ ]:
#This command reads the fourth column from our spreadsheet.
#iloc = integer location. We're telling pandas to look at every row different columns of the dataframe.
yearColumn = winterOlympics.iloc[:,0]
countryColumn = winterOlympics.iloc[:, 3]
medalsColumn = winterOlympics.iloc[:, 5]

In [ ]:
#Goes through the file and checks to see if the country is aCanada, if the year is the same as the one before and
#the medal that they won is gold. Then if it is then adds the year and the amoutn of gold medals in that year to the count
dictionary = {}
for row in range(len(winterOlympics)):
  year = yearColumn[row]
  country = countryColumn[row]
  medal = medalsColumn[row]
  if(country == 'Canada'):
    if(medal == 1):
      if (str(year) in dictionary):
        dictionary.update({str(year) : dictionary[str(year)] + 1})
      else:
        dictionary.update({str(year) : 1})

In [ ]:
print(dictionary)

{'1924': 1, '1928': 1, '1932': 1, '1948': 2, '1952': 1, '1960': 2, '1964': 1, '1968': 1, '1976': 1, '1984': 2, '1992': 2, '1994': 3, '1998': 6, '2002': 7, '2006': 7, '2010': 14, '2014': 10}

In [ ]:
#finds the highest year that canada won the most golds
highestGold = 0
yearOfHigh = 0
lowestGold = 100
yearOfLow = 0

for year in dictionary:

  #Finds the greatest score
  if dictionary [year] > highestGold:
    highestGold = dictionary [year]
    yearOfHigh = year

  #Finds the lowest score
  if dictionary [year] < lowestGold:
    lowestGold = dictionary [year]
    yearOfLow = year

In [ ]:
print("Highest medals won of Canada- ")
print("Year: " +yearOfHigh)
print("Medals: ")
print(highestGold)

print()

print("Lowest medals won of Canada- ")
print("Year: " +yearOfLow)
print("Medals: ")
print(lowestGold)

Highest medals won of Canada-
Year: 2010
Medals:
14

Lowest medals won of Canada-
Year: 1924
Medals:
1